@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0ead2;
    /* background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); */
}

.mb-1 {
    margin-bottom: 1rem;
}

.main-home {
    text-align: center;
}

.wrapper {
    width: 340px;
    height: 540px;
    padding: 10px;
    border-radius: 10px;
    background-color: #a98467;
    /* background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); */
}

.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: #adc178;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #6c584c;
    font-weight: bold;
    box-sizing: border-box;
}

.buttonBox {
    width: 100%;
    height: calc(100% - 175px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
}

.terbilang {
    background-color: #dde5b6;
    border-radius: 6px;
    padding: 5px 10px;
    margin-bottom: .7rem;
    height: 42px;
}

.copyright {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.navlink {
    list-style: none;
    margin-bottom: 1rem;
}

.navlink li {
    display: inline;
}

button {
    border: none;
    background-color: #6c584c;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}
  
button:hover {
    background-color: #45372f;
}
  
.equals {
    grid-column: 3 / 5;
    background-color: rgb(243, 61, 29);
}
  
.equals:hover {
    background-color: rgb(228, 39, 15);
}

/* CSS */
.button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
    background-color: #fff;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}

/* Login Form */

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.login-page .form {
    position: relative;
    z-index: 1;
    background: #d7cbb1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: left;
}
.login-page .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.login-page .form label {
    font-size: 12px;
    margin-bottom: 5px;
}
.login-page .form .field-error {
    text-align: left;
    font-size: 10px;
    margin: 0;
    text-transform: uppercase;
    color: #c53030;
}
.login-page .form button {
    width: 100%;
}
.login-page .form .message {
    margin: 15px 0 0;
    color: #333;
    font-size: 12px;
    text-align: center;
}
.login-page .form .message a {
    color: #c53030;
    text-decoration: none;
}
.login-page .form .register-form {
    display: none;
}